@charset "utf-8";
body{
	padding:200px;}
form{
	padding:40px;
	height:350px;
	margin-top:100px;
	width:600px;
	margin:0 auto;
	background-color:#B8C1C4;}
#left{
	float:left;
	width:40%;
	height:100%;
	background-color:#B8C1C4;}
#top_left{
	height:40%;}
#top_left img{
	margin: 0 auto;
}
#bottom_left{
	padding-right:10px;
	padding-left:10px;}
#right{
	width: 60%;
	background-color: #B8C1C4;
	float: right;
		}
#top_right{
	margin-top: -42px;
	height: 10%;
}
h1{
	color:red;
	font-family:"Arial Narrow";
	font-size:30px;}
#bottom_right{
	padding:5px;
	height:60%;
	background-color:#D5D5D5;
	border:solid 1px #737E8F;}
