*{
	line-height:18px;
	margin: 0;
	padding:0;}
body{
	height:auto;
	background-image:url(background.jpg);}
#container{
	width: 928px;
	margin: 0 auto;
	}
#header{
	margin: 0 auto;
	height: 182 px;
	max-width: 928px;
	width: 100%;}
#menu{
	position: relative;
	margin: 0 auto;
	height: 60px;
	max-height: 100px;
	width: 922px;
	background-image: url(button.jpg);
}
#logo{
	margin:0 auto;
	width: 335px;}
#buttons{
	width:100%;
	height:100%;
	margin:0 auto;}
#buttons li{
	display: block;
	float: left;
	min-height: 40px;
	cursor: pointer;
	padding-top: 20px;
	padding-left: 23px;
	border-right-color: #a02626;
	border-right-width: 3px;
	border-right-style: ridge;
	padding-right: 24px;
}
#buttons li:last-child{
	border: none;
}
#buttons li a{
	font-family: "Arial Narrow";
	font-size: 14px;
	font-weight:bold;
	color: white;
	text-shadow: 0px 2px #000000;
	text-transform: uppercase;
	text-decoration: none;
	}
	#buttons li:hover{
		background-image:url(hover_button.jpg);}
#banner{
	outline-color: white;
	outline-width: thick;
	outline-offset: -10px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 7px;
	background-color: white;
	width: 911px;
	height: 379px;
	z-index: 2;
	position: relative;
}
.arrow_1{
	position: absolute;
	top: 45%;
	left: -2%;
}
.arrow_2{
	position: absolute;
	top: 45%;
	right: -2%;
}
.Slides{
	width: 881px;
	margin-left: 15px;
	z-index:50;
}
#content{
	box-shadow: 0 4px 2px -2px black;
	margin: 0 auto;
	height: 246px;
	width: 910px;
	z-index:120;
}
.content_block{
	height:100%;
	float:left;
	background-color:white;
	width:25%;}
.top_content{
	padding: 10px;}
.bottom_content{
	padding-top: 0;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 0;
	background-color: white;
	height: 110px;
	color: #444444;
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	}
.read_more{
	margin-left: 50%;
}
#footer{
	z-index:10;
	width: 910px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	}
.footer_block{
	background-image: url(footer.png);
	background-repeat: repeat-x;
	width: 30%;
	float: left;
	padding: 15px;
	position: relative;
	margin-top: 0px;
	}
.top_footer h4{
	font-family: "Arial Narrow";
	font-size: 16px;
	text-transform: uppercase;
	text-align: left;
	background: linear-gradient(#cecece, white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width: auto;
}
.top_footer{
height: 52px;
border-bottom-color:white;}
.top_footer img{
	position: relative;
	left: 207px;
	right: 0;
	bottom: 10px;
}
.main_footer{
	padding-top:19px;
	height:231px;}
.name{
	padding-bottom:15px;
	font-family:Arial;
	font-size:12px;
	color:white;
	width:30%;}
.area{
	width: 179px;
	margin-bottom: 0px;
	float: right;
	margin-top: -32px;
}
#send {
	margin-top: 40px;
	margin-left: 203px;
}
.bottom_footer{
	min-height: 31px;
}
.bottom_footer p {
	font-family:Arial;
	font-size:12px;
	color:white;}
.main_footer p{
	margin-top:1px;
	font-family:Arial;
	font-size:12px;
	color:white;}
hr{
	background-color:#393939;
	margin-top: -9px;
}
 #corner-left{
	position: absolute;
	background: url(left_ribbon.png) no-repeat 0 0;
	top: 20px;
	left: -94px;
	width: 101px;
	height: 61px;
	z-index: -2;
}
#corner-right{
	position: absolute;
	background: url(right_ribbon.png) no-repeat 0 0;
	top: 20px;
	right: -94px;
	width: 101px;
	height: 61px;
	z-index: -2;
}
#callendar{
	width:34px;
	position:relative;}
.callendar_month{
	width:30px;
	height:14px;
	background-color:#005683;}
.callendar_month p{ 
	text-align:center;
	font-family:Arial;
	font-weight:bold;
	font-size:9px;
	color:white;
		}
.callendar_day{
	width:30px;
	height:20px;
	background-color:white;
	border-top:solid #e3e3e3 3px; 
	border-bottom: solid black 1px;
	}
.callendar_day p{
	text-align:center;
	font-family:Arial;
	font-weight:bold;
	font-size:20px;
	color:black;
		}
.newsfeed{
	width:222px;
	position: relative;
	left: 39px;
	bottom: 39px;
}
.newsfeed h4{
	text-transform:none;
	color:white;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;}
.newsfeed p{
	font-family:Arial;
	font-size:12px;
	color:#cccccc;}
.bottom_footer a{
	text-decoration:none;
	color:white;}
