@charset "utf-8";
body{
	padding:200px;}
#container{
	padding:30px;
	margin:0 auto;
	width:500px;
	min-height:300px;
	height:100%;
	background-color:#B8C1C4;}
#left{
	float:left;
	width:40%;
	height:100%;
	background-color:#B8C1C4;}
#top_left{
	height:40%;}
#top_left img{
	margin: 0 auto;
}
#bottom_left{
	padding-right:10px;
	padding-left:10px;}
#right{
	width: 60%;
	background-color: #B8C1C4;
	float: right;
		}
#top_right{
	margin-top: -42px;
}
h1{
	color:red;
	font-family:"Arial Narrow";
	font-size:30px;}
#bottom_right{
	padding:5px;
	height:60%;
	background-color:#D5D5D5;
	border:solid 1px #737E8F;}
h2{
	text-align:center;}
#welcome{
	background-color:#A5C9C2;
	width:700px;
	height:200px;
	margin:0 auto;}
#welcome h1{
	text-align: center;
	padding-top: 78px;
}
label{
	color:red;
	margin-left:10px;}
	