<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>шаблон</title>
<link href="style.css"rel="stylesheet"type="text/css">
</head>
<body>
<div id="container">
	<div id="header">
    	<a href="index.html"><img src="logo.png" id="logo"></a>
        <div>
        
            <ul id="buttons">
                        <li><a href="http://">Home</a></li>
                        <li><a href="http://">Restaurant</a></li>
                        <li><a href="http://">Menu</a></li>
                        <li><a href="http://">Wines</a></li>
                        <li><a href="http://">gallery</a></li>
                        <li><a href="http://">testimonials</a></li>
                        <li><a href="http://">News</a></li>
                        <li><a href="http://">Location</a></li>
                        <li><a href="http://">Contact</a></li>
            </ul>
        </div>
    </div>
	<div id="content">
    <img id="l-ribbon" src="left_ribbon.png">
    <img id="r-ribbon" src="right_ribbon.png">
    </div>
	<div id="footer"></div>
</div>

</body>
</html>
