@charset "utf-8";
body{
	background-color:gray;}
.slide1{
	animation: moveFromBottomFade 3s ease;
	animation-fill-mode: forwards;
	}
.slide2{
	animation: moveFromBottomFade 3s ease;
	animation-fill-mode: forwards;
	}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes moveFromBottomFade {
	from { opacity: 0.3; -webkit-transform: translateY(100%); transform: translateY(100%); }
}
